.header{
    background-color:#f5f5f5 ;
}
.header__top{
    display: flex;
    justify-content: space-between;
    font-family: Cairo;
    height:47px;
    font-size: 14px;
}
.header__top__left{
    display: flex;
    box-sizing: border-box;
    padding:10px  0;
    ul{
        margin: auto 0;
        display: flex;
        color:#1c1c1c;

        li{
            
            list-style:none;
            margin-right:25px;
            span{
                font-size:20px;
            }   
        }
    }
}
.header__top__right{
    display:flex;
    justify-content:flex-end;
    padding:10px 0;
    box-sizing: border-box;
    ul{
        display:flex;
        color:#1c1c1c;
        li{
            margin:auto 0;
            margin-right:25px;
            a{
                color:#1c1c1c;
            }
            span{
                font-size:20px;
            }
        }
    }
    span{
        font-size:20px;
    }
    div{
        display:flex;
        align-items:center;
        span{
            font-size:14px;
            padding-right: 30px;
        }
        img{
            padding:0 10px 0 30px;
            width:27px;
            height:14px;
        }
    }
    .user{
        padding-left:20px;
        span{
            padding:0;
            font-size:14px;
            padding-left: 7px;
        }
    }
}


// repsponsive
@media (max-width:1023px){
    .header__top{
        display:none;
    }
}