.wrapper{
    background-color: rgb(216, 216, 216);                                                              
    min-height:2440px;
}
.blog_content{
    &_item{
        background-color: rgb(255, 255, 255);
        min-height: 545px;
        img{
            width: 100%;
        }
        &_text{
            padding-top:25px;
            span{
                font-size: 16px;
                color: #b2b2b2;
            }
            a{
                font-size: 20px;
                color: #1c1c1c;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                font-family: "Cairo", sans-serif;
                color: #6f6f6f;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}