.wrapper {
    justify-content: flex-end;
    min-height:1060px;
    padding: 80px 0 40px 0;
}
.featured{
    width:100%;
}
.featured_top{
    min-height:170px;
    text-align: center;
    .featured_title{

    }
    .featured_controls{
        ul{
            display: flex;
        }
    }
}
.featured_item{
    

    img{
        width: 100%;
}
}