
.header_bot {
    min-height: 50px;
}
.hero_title{
    box-sizing:border-box;
    position: relative;
    .hero_title__name{
        
        min-height:50px;
        background-color: #7fad39;
        color: #ffffff;
        font-weight: 700;
        font-size: 18px;
        padding:10px 25px 10px 20px;
        box-sizing: border-box;
        span{
            color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
        }
    }
    .hero_title__list{
        display:none;
    }
    &:hover {
        .hero_title__list{
            position:absolute;
            top: 50px;
            left:15px;
            width: 89%;
            font-weight: 400;
            display: block;
            font-size: 16px;
            color: #1c1c1c;
            line-height: 39px;
            border: 1px solid #1c1c1c;
            padding:10px 0 12px 20px;
            box-sizing: border-box;
            background-color: #ffffff;
        }
    }
}
.hero_search {
    box-sizing: border-box;

    &__top {
        display: flex;
        &_ {
            display: flex;
            justify-content: space-between;
            border: 1px solid #ccc;

            &_categories {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                font-size: 14px;
                font-weight: 700;
                box-sizing: border-box;
                border-right: 1px solid #c7c8c6;
            }

            &_input {
                display: flex;
                flex: 3;
                justify-content: space-between;
                input {
                    opacity: 0.4;
                    font-size: 17px;
                    border: none;
                    padding: 0;
                    height: 48px;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    width: 110px;
                    background-color: #7fad39;
                    border: none;
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: 700;
                    height: 48px;

                    &:hover {
                        background-color: #7fad39;
                    }
                }

            }
        }

        &__contact {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            div{
                margin-left:20px;
            }
            .phone_icon{
                width:50px;
                height:50px;
                background-color: #f5f5f5;
                color:#7fad39;
                border:1px solid #f5f5f5 ;
                border-radius:100%;
                text-align:center;
                line-height:50px;
            }
            p {
                margin: 0;
            }

            h4 {
                margin: 0;
            }
        }
    }

    &__bottom {
        position: relative;
        margin-top: 40px;

        &__text {
            padding-left: 75px;
            width: 40%;
            height: 100%;
            top: 0;
            position: absolute;
        }
    }
}

@media (max-width:1023px) {
    .header_bot {
        flex-direction: column;
        flex-wrap: nowrap;
        .hero_title{
            width: 100%;
        }
    }
    .hero_search__top{
        padding:10px;
    }
    .hero_search__top__contact {
        
    }
    
    .header_bot__left {
        .header_bot__title {
            width: 100%;
        }
    }
}