.wrapper {
    background-color: rgb(241, 239, 239);
    min-height: 2440px;
}
.blog_sidebar {
    &_input {
        min-height:45px;
        border
    }
    &_menu {
    }
    &_news {
    }
    &_search_by {
    }
}
