.wrapper {
    background-color: rgb(241, 239, 239);
    min-height: 2440px;
}
.blog_sidebar {
    padding-top:50px;
    &_input {
        min-height:45px;
        border: 1px solid #252525;
    }
    &_menu {
        min-height:295px;
        border: 1px solid #252525;
        margin-bottom: 50px;

    }
    &_news {
    }
    &_search_by {
    }
}
