.wrapper{
    min-height:413px;
    display:flex;
    justify-content:center;
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}
.footer{

    &_left{
        ul{
            li{
                font-size: 16px;
                color: #1c1c1c;
                line-height: 36px;
                list-style: none;
            }
        }
    }
    &_center{
        &_content{
            display:flex;
        }
        
    }
    &_right{

    }
}