.wrapper {
    min-height: 413px;
    background: #f3f6fa;
    padding-top: 70px;
    padding-bottom: 0;
}
.footer {
    &_left {
        ul {
            li {
                font-size: 16px;
                color: #1c1c1c;
                line-height: 36px;
                list-style: none;
            }
        }
    }
    &_center {
        margin-left: 80px;
        h6 {
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &_content {
            display: flex;
            ul {
                li {
                    a {
                        color: #1c1c1c;
                        font-size: 14px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
    &_right {
        h6 {
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            color: #1c1c1c;
            margin-bottom: 30px;
        }
        for
        input{
            width: 100%;
            font-size: 16px;
            padding-left: 20px;
            color: #1c1c1c;
            height: 46px;
            border: 1px solid #ededed;
        }
        button{
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 26px;
            height: 100%;
        }
    }
}
