.wrapper{
    min-height:413px;
    display:flex;
    justify-content:center;
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}
.footer{

    &_left{
        
    }
    &_center{
        &_content{
            display:flex;
        }
        
    }
    &_right{

    }
}