.wrapper {
    min-height: 413px;
    display: flex;
    justify-content: center;
    background: #f3f6fa;
    padding-top: 70px;
    padding-bottom: 0;
}
.footer {
    &_left {
        ul {
            li {
                font-size: 16px;
                color: #1c1c1c;
                line-height: 36px;
                list-style: none;
            }
        }
    }
    &_center {
        h6 {
            color: #1c1c1c;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &_content {
            display: flex;
            ul {
                li {
                    a {
                        color: #1c1c1c;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    &_right {
    }
}
