.wrapper {
    justify-content: flex-end;
    padding: 50px 0;
}
.from_blog {
    width: 100%;
    min-height: 650px;
}
.from_blog_title {
    text-align: center;
    min-height: 114px;
    h2 {
        position: relative;
        color: #1c1c1c;
        font-weight: 700;
        font-size: 36px;
        &:after{
        position: absolute;
        left: 0;
        bottom: -15px;
        right: 0;
        height: 4px;
        width: 80px;
        background: #7fad39;
        content: "";
        margin: 0 auto;
        }
    }
}

.from_blog_content {
    .from_blog_item {
        img {
            width: 100%;
        }
    }
}
