.wrapper {
    justify-content: flex-end;
    padding: 50px 0;
}
.from_blog {
    width: 100%;
    min-height: 650px;
}
.from_blog_title {
    min-height: 114px;
    ali
    h2 {
        position: relative;
        color: #1c1c1c;
        font-weight: 700;
        font-size: 36px;
    }
}

.from_blog_content {
    .from_blog_item {
        img {
            width: 100%;
        }
    }
}
