.wrapper {
    justify-content: flex-end;
    padding: 50px 0;
}
.from_blog {
    width: 100%;
    min-height: 650px;
    background-color: #e9e8e8;
}
.from_blog_title {
    min-height: 114px;
}

.from_blog_content{
    .from_blog_item{
        img{
            
        }
    }
}
