.contact_info {
    width: 100%;
    min-height: 280px;
    padding: 80px 0 50px 0;

}
.contact__widget {
    margin: auto;
    text-align: center;
    span {
        font-size: 36px;
        color:#7fad39;
    }
    h4 {
        color: #1c1c1c;
        font-weight: 700;
        margin-bottom: 6px;
        margin-top: 18px;
        font-size: 24px;
    }
    p {
        font-size: 16px;
        font-family: "Cairo", sans-serif;
        color: #6f6f6f;
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 15px 0;
    }
}
