.wrapper {
    min-height: 2440px;
}
.shop_sidebar {
    &_menu {
        min-height: 445px;
        margin-bottom: 35px;
    }
    &_price {
        min-height: 105px;
        margin-bottom: 35px;
        border: 1px solid #252525;
        h4 {
            color: #1c1c1c;
            font-weight: 700;
            margin-bottom: 25px;
            font-size: 24px;
        }
    }
    &_color {
        min-height: 150px;
        margin-bottom: 35px;
        border: 1px solid #252525;
        h4 {
            color: #1c1c1c;
            font-weight: 700;
            margin-bottom: 25px;
            font-size: 24px;
        }
        .color_white {
            label {
                .white {
                    background-color: #fff;
                }
            }
        }
        .color_gray {
            label {
                .gray {
                    :after {
                        position: absolute;
                        left: 0;
                        top: 5px;
                        height: 14px;
                        width: 14px;
                        background-color: #222;
                        content: '';
                        border-radius: 50%;
                    }
                }
            }
        }
        .color_red {
            label {
            }
        }
        .color_black {
            label {
            }
        }
        .color_blue {
            label {
            }
        }
        .color_green {
            label {
            }
        }
    }
    &_size {
        min-height: 137px;
        margin-bottom: 35px;
        border: 1px solid #252525;
    }
    &_product {
        min-height: 465px;
        border: 1px solid #252525;
    }
}
.hero_title__name {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 24px;
}
.hero_title__list {
    li {
        font-size: 16px;
        color: #1c1c1c;
        line-height: 39px;
        display: block;
    }
}
