.wrapper {
    background-color: rgb(241, 239, 239);
    min-height: 2440px;
}
.shop_sidebar {
    &_menu {
        min-height: ;
    }
    &_price {
    }
    &_color {
    }
    &_size {
    }
    &_product {
    }
}
