.wrapper {
    min-height: 2440px;
}
.shop_sidebar {
    &_menu {
        min-height: 445px;
        margin-bottom: 35px;
        border: 1px solid #252525;
    }
    &_price {
        min-height: 105px;
        margin-bottom: 35px;
        border: 1px solid #252525;
    }
    &_color {
        min-height: 150px;
        margin-bottom: 35px;
        border: 1px solid #252525;
    }
    &_size {
        min-height: 137px;
        margin-bottom: 35px;
        border: 1px solid #252525;
    }
    &_product {
        min-height: 465px;
        border: 1px solid #252525;
    }
}
.hero_title__name{}