.wrapper{                                                          
    min-height:2440px;
}
.shop_content{

&_product_discount{
    min-height: 585px;
    padding-bottom: 50px;
    border: 1px solid #252525;
    box-sizing: border-box;
    &_title{
        margin-bottom:65px ;
        h2{

        }
    }
}
&_filter{
    display:flex;
    flex-wrap: wrap;
    min-height: 90px;
    padding-top:45px;
    padding-bottom:20px;
    border: 1px solid #252525;
    
    
}
&_product{
    min-height:1545px;
}
&_pagination{
    min-height: 40px;
    padding-top: 10px;
    border: 1px solid #252525
}
}

.product_discount_content{
    &_items{
        min-height: 370px;

        &_item{
            img{
                width: 100%;
                min-height: 273px;
            }
        }
    }
}

.shop_content_filter{
&_sort{
    border: 1px solid #252525;
}
&_found{
    border: 1px solid #252525;
}
&_option{
    border: 1px solid #252525;
}
}

.shop_content_product{
    &_item{
        img{
            width: 100%;
        }
    }
}