.wrapper{
    background-color: rgb(216, 216, 216);                                                              
    min-height:2440px;
}
.shop_content{
&_product_discount{
    min-height: 585px;
    padding-bottom: 50px;
}
&_filter{
    
}
&_product{

}
&_pagination{

}
}